:root {
  --default-font-size: 16px;
  --bg-color: wheat;
  --interface-gray: Cornsilk;
  --avatar-outline-color: whitesmoke;
  --overlay-color: black;
  --overlay-opacity: 0.6;
  --min-navbar-width: 16vw;
  --cell-horizontal-num: 40;
  --cell-vertical-num: 21;
  --input-height: 2;
  --cell-size: 2vw;
  --avatar-x: 1;
  --avatar-y: 1;
}

@font-face {
  font-family: nunito;
  src: url(../font/nunito/Nunito-Regular.ttf);
}

@font-face {
  font-family: nunito-bold;
  src: url(../font/nunito/Nunito-Bold.ttf);
  font-weight: bold;
}

body {
  width: 100%;
  height: 100%;
  font-size: var(--default-font-size);
  background: black;
  margin: 0;
  padding: 0;
}

.container {
  width: calc(
    var(--min-navbar-width) + var(--cell-size) * var(--cell-horizontal-num)
  );
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(
    (
        100vh -
          (var(--cell-size) * (var(--cell-vertical-num) + var(--input-height)))
      ) / 2
  );
}

.left {
  float: left;
}

.navbar {
  width: var(--min-navbar-width);
  height: calc(
    var(--cell-size) * (var(--cell-vertical-num) + var(--input-height))
  );
  background-color: var(--interface-gray);
}

.title,
.roomlink {
  font-family: nunito, monospace;
  color: whitesmoke;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  padding-top: 10%;
  margin-bottom: 5%;
}

.roomlink {
  font-size: var(--default-font-size);
}

.navigation {
  display: inline-grid;
  grid-template-rows: repeat(var(--cell-vertical-num), var(--cell-size));
  grid-template-columns: repeat(var(--cell-horizontal-num), var(--cell-size));
  background: var(--bg-color);
}

.input {
  width: calc(100% - var(--min-navbar-width));
  height: calc(var(--cell-size) * 2);
  background-color: white;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  opacity: var(--overlay-opacity);
}

.shadow,
.avatar {
  width: var(--cell-size);
  height: var(--cell-size);
  grid-column-start: var(--avatar-x);
  grid-row-start: var(--avatar-y);
  margin: 0;
  padding: 0;
}

.shadow {
  position: relative;
  z-index: 0;
  outline: 1px solid var(--avatar-outline-color);
}

.avatar {
  position: absolute;
  z-index: 1;
}
