:root {
  --default-font-size: 16px;
  /* --bg-color: burlywood;
  --overlay-color: black;
  --overlay-opacity: 0.5;
  --min-navbar-width: 200pt;
  --cell-horizontal-num: 40;
  --cell-vertical-num: 20;
  --cell-size: 5vh; */
  --avatar-w: 50px;
  --avatar-h: 50px;
}

@font-face {
  font-family: nunito;
  src: url(../font/nunito/Nunito-SemiBold.ttf);
}

body {
  background: Cornsilk;
  margin: 10%;
}

h1,
h2,
h3,
p,
ul {
  margin: 5% 0;
  font-family: nunito;
  padding: 0;
}

button,
.avatar p {
  font: 16pt nunito;
}

/* usable  */
@keyframes view-message {
  0% {
    background-color: rgba(0, 0, 255, 0);
  }

  100% {
    background-color: rgba(0, 0, 255, 0.3);
  }
}

button.textRecord {
  position: relative;
  width: var(--avatar-w);
  height: var(--avatar-h);
  border: 0;
}

.textRecordRoundOverlay {
  background-color: rgba(0, 0, 255, 0);
  width: 160%;
  height: 160%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.textRecordSquareOverlay {
  background-color: rgba(0, 0, 255, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.textRecordRoundOverlay:hover {
  animation-name: view-message;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.avatar {
  width: var(--avatar-w);
  height: var(--avatar-h);
}

.avatar p {
  position: relative;
  text-align: center;
  padding-top: calc(var(--avatar-h) / 5);
  margin: 0;
  color: black;
  opacity: 0.5;
}

/* CSS for demo purposes only. Probably not usable */

@keyframes move-left {
  from {
    margin-left: 50px;
  }

  to {
    margin-left: 0px;
  }
}

@keyframes move-up {
  from {
    margin-top: 100px;
  }

  to {
    margin-top: 50px;
  }
}

.moveLeft {
  position: relative;
  margin-left: 50px;
  animation-name: move-left;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.moveUp {
  position: relative;
  margin-top: 100px;
  animation-name: move-up;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fuzzy-trigger {
  from {
    background-color: rgba(0, 255, 255, 0);
    border: 1px solid transparent;
  }

  to {
    background-color: rgba(0, 0, 255, 0.3);
    border: 1px solid rgba(0, 0, 255, 0.3);
  }
}

.textRecordRoundOverlayTrigger {
  background-color: rgba(0, 0, 255, 0);
  width: 160%;
  height: 160%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation-name: fuzzy-trigger;
  animation-duration: 1s;
  animation-delay: 1.1s;
  animation-fill-mode: forwards;
}

.textRecordSquareOverlay {
  animation-name: fuzzy-trigger;
  animation-duration: 0.3s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
}

/* peer connected animation */

.connected {
  border: 2px solid transparent;
  animation-name: connected;
  animation-duration: 3s;
}

@keyframes connected {
  0% {
    border-top-color: #0eb7da;
  }

  25% {
    border-top-color: #0eb7da;
    border-right-color: #0eb7da;
  }

  50% {
    border-top-color: #0eb7da;
    border-right-color: #0eb7da;
    border-bottom-color: #0eb7da;
  }

  75% {
    border-top-color: #0eb7da;
    border-right-color: #0eb7da;
    border-bottom-color: #0eb7da;
    border-left-color: #0eb7da;
  }

  100% {
    border-color: transparent;
  }
}

/* loading icon */

svg {
  position: relative;
  margin: auto;
}

.rect {
  fill: none;
  stroke-width: 5px;
  stroke: black;
  stroke-dasharray: 40;
  stroke-dashoffset: 50%;
  animation: movedash 1.5s forwards 0s infinite;
}

@keyframes movedash {
  to {
    stroke-dashoffset: 250%;
  }
}
