body {
  background: Cornsilk;
  width: 100%;
}

:root {
  --cell-horizontal-num: 20;
  --cell-vertical-num: 10;
  --cell-size: 10vh;
  --user-x: 1;
  --user-y: 1;
}

.main {
  width: 100%;
  position: absolute;
  float: left;
}

table,
th,
td {
  table-layout: auto;
  border: none;
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 0;
  padding: 0;
}

th {
  display: none;
}

tr,
td {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: #2196f3;
  padding: 0;
  margin: 0;
  /* z-index: -1; */
}

.shadow,
.avatar {
  width: var(--cell-size);
  height: var(--cell-size);
  grid-column-start: var(--user-x);
  grid-row-start: var(--user-y);
  margin: 0;
  padding: 0;
}

.shadow {
  position: absolute;
  z-index: 0;
  border: 1px solid whitesmoke;
}

.avatar {
  position: relative;
  z-index: 1;
}
